
@font-face {
    font-family: univers;
    src: url(fonts/univers-light-normal.ttf)
}

div {
  width: 100%;
  margin: 30px;
}

h2 {
  font: 400 40px/1.5 univers, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 univers, Verdana, sans-serif;
  font-size: 1vw;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li div.expanding {

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 100%;
  margin: 0px;
}

li div.expanding:hover {
  font-size: 5vw;
  background: #f6f6f6;
}

a {
    text-decoration: none;
    color: #ffcb05;
}

a:hover {
    color: graytext;
}

input {
    font-weight: normal;
    font-size: 7vw;
    color: #ffcb05;
    width: 30vw;
}

#flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

#inner {
    min-width: 100px;
    outline:none;
    margin: 0 20px;
}

.list-dininghall-name {
    font-weight: normal;
    color: #ffcb05;
    font-size: 3vw;
    margin-left: 20px;
}

.list-food-name {
    font-weight: bold;
    color: #00274c;
    font-size: 4vw;
}

.list-title {
    font-weight: normal;
    font-size: 7vw;
    color: #ffcb05;
}

.list-item {
    color: #00274c;
    margin-left: 20px;
    font-size: 2.5vw;
}
